@import "../../assets/css/variables";

.bar {
  &::before,
  &::after {
    background: $color-primary;
  }
}

.inputElement {
  color: $color-primary;

  &:focus ~ .label {
    font-size: 14px !important;
    color: $color-primary !important;
  }

  &.filled ~ .label:not(.fixed) {
    font-size: 14px !important;
  }
}

.password {
  input {
    letter-spacing: 3px;
  }
}

.label {
  font-size: 18px;
  color: $color-text-secondary;
}
