@import "../../assets/css/variables";

.button {
  composes: primary from "<presentational/PButton>";
  width: 100%;
  margin: 0;
}

// .secondary {
//   composes: secondary from "<presentational/PButton>";
//   transition: 0.15s ease background, 0.15s ease color;
// }

.anchor {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: $color-primary;

  &:hover {
    color: lighten($color-primary, 15%);
  }
}

.wrapper {
  transition: 0.15s ease all;
}

.disabled {
  .button {
    opacity: 0.5;
  }

  .anchor {
    cursor: not-allowed;

    &:hover {
      color: $color-primary;
    }
  }
}

.submitting {
  .button {
    opacity: 0.5;
    cursor: not-allowed;
    animation: translateBackground 4s ease-in-out infinite;
  }
}

.center {
  text-align: center;
}

@keyframes translateBackground {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 3100%;
  }
}
