@import "./variables";

:global(.app) {
  background-color: #fff;
  font-size: 14px;
  color: $color-text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

:global(img) {
  max-width: 100%;
  height: auto;
}

:global(.text--center) {
  text-align: center;
}

:global(.text--sm) {
  font-size: 13px;
}

:global(.text--bold) {
  font-weight: 600;
}

:global(.text--break) {
  word-break: break-all;
}

:global(.text--linebreak) {
  white-space: pre-line;
}

:global(.mb-0) {
  margin-bottom: calc(#{$spacing} * 0) !important;
}

:global(.mb-1) {
  margin-bottom: calc(#{$spacing} * 1) !important;
}

:global(.mb-2) {
  margin-bottom: calc(#{$spacing} * 2) !important;
}

:global(.mb-3) {
  margin-bottom: calc(#{$spacing} * 3) !important;
}

:global(.mb-4) {
  margin-bottom: calc(#{$spacing} * 4) !important;
}
