$color-background: #f2f7fa;
$color-primary: #130c58;
$color-text: #140857;
$color-success: #54bb22;
$color-error: #ce1812;
$color-text-secondary: rgba(0, 0, 0, 0.4);

$spacing: 13px;

$sm-up: "min-width: 768px";
