.wrapper {
  button {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: 24px;
    height: auto;
    margin-right: 5px;
  }

  @media (min-width: 768px) {
    position: absolute;
    right: 13px;
  }
}
