@import "../../assets/css/variables";

.wrapper {
  width: 60px;
  height: 60px;
  border: 4px solid $color-error;
  border-radius: 50%;
  margin: 0 auto calc(#{$spacing} * 3);
  position: relative;
  box-sizing: content-box;
  animation: animateWrapper 0.5s;
}

@keyframes animateWrapper {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.mark {
  position: relative;
  display: block;
  animation: animateMark 0.5s;
}

@keyframes animateMark {
  0% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}

.line {
  position: absolute;
  height: 5px;
  width: 35px;
  background-color: $color-error;
  display: block;
  top: 28px;
  border-radius: 2px;
}

.lineLeft {
  @extend .line;
  transform: rotate(45deg);
  left: 12px;
}

.lineRight {
  @extend .line;
  transform: rotate(-45deg);
  right: 13px;
}
