@import "../../assets/css/variables";

.wrapper {
  header {
    height: 80px;
    display: flex;
    border-bottom: 1px solid hsl(0, 0%, 90%);

    @media (min-width: 768px) {
      height: 100px;
    }
  }

  .headerContent {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;

    @media (min-width: 768px) {
      justify-content: center;
    }
  }

  main {
    background: $color-background;
    min-height: calc(100vh - 100px);
  }

  .content {
    max-width: 360px;
    margin: 0 auto;
    padding: calc(#{$spacing} * 2);
    box-sizing: content-box;
    position: relative;

    @media ($sm-up) {
      padding: calc(#{$spacing}* 4) calc(#{$spacing} * 2);
    }

    &.compact {
      padding: $spacing;

      @media ($sm-up) {
        padding: calc(#{$spacing}* 2) calc(#{$spacing} * 2);
      }
    }
  }
}
