@import "../../assets/css/variables";

.message {
  text-align: center;
  display: block;
  font-size: 14px;
  padding: 0;
  opacity: 0;
  height: 0;
  transform: translate3D(0, -15px, 0);
  transition: transform 0.25s, opacity 0.35s 0.1s, padding 0.15s;

  &.active {
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }
}

.error {
  color: $color-error;
}

.success {
  color: $color-success;
}
